{% capture meta_url %}{{ config.domain }}{{ page.url }}{% endcapture %}
{% capture meta_title %}{{ config.title }}{% endcapture %}
{% capture meta_description %}{{ config.description }}{% endcapture %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
{% comment %} General {% endcomment %}
<title>{{ meta_title }}</title>
<meta name="description" content="{{ meta_description }}" />
{% comment %} Facebook {% endcomment %}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ meta_url }}" />
<meta property="og:title" content="{{ meta_title }}" />
<meta property="og:description" content="{{ meta_description }}" />
{% comment %} Twitter {% endcomment %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content=@hey_stac />
<meta name="twitter:creator" content=@hey_stac />
<meta name="twitter:url" content="{{ meta_url }}" />
<meta name="twitter:title" content="{{ meta_title }}" />
<meta name="twitter:description" content="{{ meta_description }}" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<link rel="stylesheet" href="/styles/index.css" />
